@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
    margin-top: 0px;
    background-color: #24292e;
    font-family: 'Lato', sans-serif;
    color: #f6f7f9;
  }

  /* #wrap {
    width: 1100px;
    margin: 0 auto;
  }

  #external-events {
    font-family: 'Lato', sans-serif;
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #cde2d6;
    background: #383f45;
    text-align: left;
    border-radius: 10px;
  }

  #external-events h4 {
    font-family: 'Lato', sans-serif;
    color: #cde2d6;
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    font-family: 'Lato', sans-serif;
    margin: 1.5em 0;
    font-size: 11px;
    color: #cde2d6;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
    font-family: 'Lato', sans-serif;
    float: right;
    width: 900px;
  }

  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .black {
    background-color: #383f45;
  }

  .green{
    background-color: #116466;
    border-color: #116466;
  }

  .btn-success {
    color: #f6f7f9;;
    background-color: #116466;
    border-color: #116466;
  }
  
  .btn-success:hover {
    color: #fff;
    background-color: rgb(98, 165, 126);
    border-color: rgb(98, 165, 126);
  }
  
  .btn-success:focus,
  .btn-success.focus {
    color: #fff;
    background-color: #2fa360;
    border-color: #2d995b;
    box-shadow: 0 0 0 0.2rem rgba(86, 202, 135, 0.5);
  }
  
  .btn-success.disabled,
  .btn-success:disabled {
    color: #fff;
    background-color: #38c172;
    border-color: #38c172;
  }
  
  .btn-success:not(:disabled):not(.disabled):active,
  .btn-success:not(:disabled):not(.disabled).active,
  .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #2d995b;
    border-color: #2a9055;
  }
  
  .btn-success:not(:disabled):not(.disabled):active:focus,
  .btn-success:not(:disabled):not(.disabled).active:focus,
  .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(86, 202, 135, 0.5);
  } */

  